.basic-layout {
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}

.content {
    width: 100%;
    height: 100%;
 
}

.arco-menu-selected {
    background-color: blue;
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
