/* for all page */
.main-content {
    

}
.input-page {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    /* align-items: center; */
    gap: 80px;
    
}

.arco-card .arco-card-body {
    padding-left: 0px;
    /* border: 1px solid var(--color-neutral-3); */
}

.custom-tabsPane {
    width: 800px;
    height: 500px;
    padding-top: 20px;
}

.button-wrapper {
    display: flex;
}


.reset-button {
    margin-left: 30px;
}

.submit-button {
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
}

.file-uploader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-component {
    width: 200px;
}

.form-wrapper {
    padding-top: 20px;
}

.input-form {
    height: calc(100vh - 300px);
    border: 1px solid var(--color-neutral-3);
    /* 添加颜色 */
    margin-top: ;
    /* padding-left: 20px; */
    height: 100%px;
    border-radius: 5px;
    /* 可选：圆角边框 */
    display: inline-block;
    /* 适用于小组件 */
}