/* for all page */
.main-content {
    display: flex;
    height: 100%;
    width: 100%;
}
.input-page {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    
}

/* left side for the result */
.result-content {
    height: 100%;
    width: 70%;
}

.arco-card .arco-card-body {
    padding-left: 0px;
    padding-top: 0px;
    /* border: 1px solid var(--color-neutral-3); */
}

.custom-tabsPane {
    overflow-y: auto;
    height: 100%;
    padding-top: 20px;
}

.arco-tabs-content-inner {
    height: 100%;
}

.arco-tabs-pane {
    border-bottom: 0px !important;
}

.arco-tabs-header-title {
  padding-left: 4px !important;
  padding-right: 4px !important;
  writing-mode: vertical-rl;
  white-space: nowrap;
}

.arco-tabs-content-vertical {
    border-bottom: 0px !important;
}



.custom-tabs {
    height: 100%;
}


.reset-button {
    margin-left: 30px;
}

.submit-button {
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
}

.file-uploader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.input-component {
    /* margin-left: 40px; */
    width: 200px;
}

.form-wrapper {
    /* position: relative; */
    height: 100%;
    width: 100%;
}

/* for torque */
.my-custom-form {
    height: calc(100vh - 300px) !important; 
    width: 100%;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
}

.form-wrapper-custom {
    padding-top: 20px;
    overflow-x: hidden;
    overflow-y: auto;

    height: 100%;
    max-width: 100%;
    padding-left: 20px;
}

.fixed-form-item {
  padding: 10px 0;
  background: #fff; /* 可选：固定背景色 */
  border-top: 1px solid #e8e8e8; /* 可选：分隔线 */
}

.input-form {
    height: calc(100vh - 200px);
    border: 1px solid var(--color-neutral-3);
    border-radius: 5px;
    /* 可选：圆角边框 */
    display: inline-block;
    border-right: 0px;
    border-bottom: 0px;
}

/* drill -> MSE RESULT DIV */
.mse-result-page {
    height: 100%;
}

.mse-waiting-page {
    border: 1px solid var(--color-neutral-3);
    border-radius: 5px;
}

/* .button-wrapper {
  position: fixed;
  bottom: calc(2vh);
  left: -15%;
} */