.basic-layout {
    width: 100%;
    height: 100%;
}

.nav-bar { 
    /* font-size: 100px; */
    /* height: 100px; */
}

.arco-tabs-header-title-text {
    /* border-style:solid; */
    font-size: 20px;
}




.arco-tabs-header-size-large.arco-tabs-header-nav-capsule .arco-tabs-header-title {
    border-width: 10px;
    padding: 20px
}

.input-sider {
    width: 400px;
}